#asideCom {
  .el-menu-vertical:not(.el-menu--collapse) {
    width: 160px;
  }

  :deep(.el-menu-item):hover {
    background-color: #d1e3fc;
  }
}

.dark #asideCom {
  :deep(.el-menu) {
    border-right: 1px solid #626262;
  }
  :deep(.el-menu-item):hover {
    background-color: #1f3a60;
  }
}
