#asideCom {
  :deep(.el-menu) {
    border: none;
  }
  .el-menu-vertical:not(.el-menu--collapse) {
    width: 150px;
  }

  :deep(.el-menu-item):hover {
    background-color: #d1e3fc;
  }
}

.dark #asideCom {
  :deep(.el-menu-item):hover {
    background-color: #1f3a60;
  }
}
