#headerCom {
  border-bottom: 1px solid #0f172a1a;

  .item {
    background-color: #f2f3f5;
    &:hover {
      background-color: #e6eef5;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .avatarCon {
    background-color: #f2f3f5;
  }
}

.dark #headerCom {
  background-color: #1f1f1f;
  border-bottom: 1px solid #3b434e;

  .item {
    color: #d0d2d6;
    background-color: #1f1f1f;

    &:hover {
      background-color: #2e3235;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .avatarCon {
    color: #fff;
    background-color: #1f1f1f;
  }
}
