$login-page-dark-bg: #0f1423;
$from-left-light-bg: #f3fafd;

$from-left-dark-bg: #1061a0;
$from-right-dark-bg: #043351;

$black: #000;
$white: #fff;
$crystalViolet: #1f2040;
$skyblue: #1677b3;
$left-con-bg: #c6e6e8;
