@screen xs {
  .headerCom {
    --uno: bg-amber;
  }
}

@screen sm {
  .headerCom {
    --uno: bg-blue;
  }
}
@screen md {
  .headerCom {
    --uno: bg-red;
  }
}

@screen lg {
  .headerCom {
    --uno: bg-warmgray;
  }
}
