@import "./scss/init.scss";

@font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/CascadiaCode.ttf");
}

@font-face {
  font-family: "LXGWWenKai-Light";
  src: url("../fonts/LXGWWenKai-Light.ttf");
}

@font-face {
  font-family: "LXGWWenKai-Bold";
  src: url("../fonts/LXGWWenKai-Bold.ttf");
}

:root {
  font-family: "CascadiaCode";
}

/* toggle theme */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
